<% layout('/layouts/boilerplate') %>
<body>
    <h3>LISTING DETAILS</h3>
    <img src="<%=thisListing.image%>" />
    <ul>
        <li><%=thisListing.title%></li>
        <li><%=thisListing.description%></li>
        <li>&#8377;<%=thisListing.price.toLocaleString("en-IN")%></li>
        <li><%=thisListing.location%></li>
        <li><%=thisListing.country%></li>
    </ul>
    <a href="/listings/<%=thisListing._id%>/edit">Edit</a>
    <form method="POST" action="/listings/<%=thisListing._id%>?_method=DELETE">
        <button>Delete</button>
    </form>
</body>
